*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:rgb(34, 197, 215);
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
color:white;
text-decoration:none;
transition:.3s;
}

nav ul li a:hover{
color:#38bdf8;
}

section{
padding:90px 10%;
}

.home{
display:flex;
justify-content:space-between;
align-items:center;
min-height:100vh;
flex-wrap:wrap;
}

.content{
max-width:550px;
}

.content h1{
font-size:55px;
margin:10px 0;
}

.content h2{
color:#38bdf8;
margin-bottom:20px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 30px;
background:#38bdf8;
color:white;
text-decoration:none;
border:none;
cursor:pointer;
border-radius:30px;
}

.heading{
text-align:center;
font-size:40px;
margin-bottom:50px;
color:#38bdf8;
}

.about-container{
max-width:800px;
margin:auto;
text-align:center;
font-size:18px;
line-height:1.8;
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;
}

.card{
background:#1e293b;
padding:35px;
text-align:center;
border-radius:15px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card i{
font-size:50px;
margin-bottom:15px;
color:#38bdf8;
}

.project-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.project{
background:#1e293b;
padding:25px;
border-radius:15px;
}

.edu{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.edu-card{
background:#1e293b;
padding:30px;
border-radius:15px;
width:280px;
text-align:center;
}

form{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

input,textarea{
padding:15px;
border:none;
outline:none;
background:#1e293b;
color:white;
border-radius:10px;
}

footer{
text-align:center;
padding:25px;
background:#111827;
}

@media(max-width:768px){

.home{
flex-direction:column-reverse;
text-align:center;
}

nav ul{
display:none;
}

.content h1{
font-size:40px;
}

.home img{
width:260px;
margin-bottom:30px;
}

}